.int-input {
    padding: 4px;
    font-size: 12px;
    font-family: 'Nanum Gothic';
    text-align: right;
    color: rgb(204, 204, 204);
    background-color: rgb(60, 60, 60);
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.int-input:focus {
    outline: 1px solid rgba(14, 99, 156, 0.6);
    outline-offset: 0;
}
