.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app > .body {
    flex: 1;
    /* firefox flex 동작 우회용 */
    max-height: calc(100% - 37px - 20px);
    display: flex;
    flex-direction: row;
}
