.board {
    position: relative;
    flex: 1;
    font-size: 16px;
    color: rgb(212, 212, 212);
    background-color: rgb(30, 30, 30);
    overflow: hidden;
    user-select: none;
    cursor: default;
}

.scroll-pane {
    position: absolute;
    top: 30px;
    left: 70px;
    width: calc(100% - 70px);
    height: calc(100% - 30px);
    overflow: scroll;
}

.code-line {
    position: absolute;
    height: 30px;
}

.cell {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    outline: 1px solid rgba(90, 90, 90, 0.5);
    outline-offset: -2px;
}

.cell:hover {
    outline-color: rgba(174, 175, 173, 1);
}

.cell.ghost {
    outline-style: dashed;
}

.line-numbers {
    position: absolute;
    top: 0;
    width: 70px;
    height: 100%;
}

.line-numbers > .line-number {
    position: absolute;
    width: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: right;
    color: rgba(90, 90, 90, 1);
}

.line-numbers-shadow {
    display: none;
    position: absolute;
    top: 0;
    width: 70px;
    height: 100%;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
}

.line-numbers-shadow.on {
    display: block;
}

.column-numbers {
    position: absolute;
    left: 0;
    height: 30px;
    width: 100%;
}

.column-numbers > .column-number {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color: rgba(90, 90, 90, 1);
}

.column-numbers-shadow {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.column-numbers-shadow.on {
    display: block;
}

.square {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    color: rgba(90, 90, 90, 1);
    background-color: rgb(30, 30, 30);
}
