@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Nanum Gothic';
}

:global(#app) {
    width: 100%;
    height: 100%;
}
