.code-space-scroll {
    position: absolute;
    top: 30px;
    left: 70px;
    width: calc(100% - 70px);
    height: calc(100% - 30px);
    overflow: scroll;
}

.input {
    position: absolute;
    padding: 0;
    opacity: 0;
    transform: scale(0.0001);
    transform-origin: 2px 2px;
    border: none;
    pointer-events: none;
}

.cell-line {
    position: absolute;
    height: 30px;
}

.cell {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    outline: 1px solid rgba(90, 90, 90, 0.5);
    outline-offset: -2px;
}

.cell.comment {
    color: rgba(90, 90, 90, 1);
}

.cell.ghost {
    outline-style: dashed;
}

.cell-line:not(:last-child) .cell.ghost:after {
    content: '\23ce';
    color: rgba(60, 60, 60, 1);
}

.ghost-caret {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    outline: 1px dashed rgba(174, 175, 173, 1);
    outline-offset: -2px;
}

.ghost-caret.on {
    display: block;
}

.selection {
    position: absolute;
}

.selection svg {
    width: 100%;
    height: 100%;
}

.selection .dash {
    fill: transparent;
    stroke: rgba(174, 175, 173, 1);
    stroke-width: 1;
    stroke-linejoin: miter;
    stroke-dasharray: 3, 3;
    animation-duration: 0.5s;
    animation-name: dash-rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.selection.caret {
    outline: 1px solid rgba(174, 175, 173, 1);
    outline-offset: -2px;
    animation-duration: 1s;
    animation-name: caret-blink;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition-property: top, left, width, height;
    transition-duration: 0.3s;
}

.code-space-scroll:not(.focus) .selection .dash {
    stroke: rgba(120, 120, 120, 0.5);
    animation: none;
}

.code-space-scroll:not(.focus) .selection.caret {
    outline: 1px solid rgba(120, 120, 120, 0.5);
    animation: none;
}

.cursor {
    position: absolute;
    color: rgb(0, 122, 204);
}

.cursor-rect {
    stroke: currentColor;
    stroke-width: 3;
    fill: transparent;
}

.cursor-deco {
    stroke: #fff;
    stroke-width: 3;
    stroke-opacity: 0.1;
    stroke-dasharray: 10, 40;
    fill: transparent;
    animation-duration: 0.5s;
    animation-name: deco-rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition-property: stroke, stroke-opacity, stroke-dasharray;
    transition-duration: 0.5s;
}

.cursor.on-break-point .cursor-deco {
    stroke: #c10;
    stroke-opacity: 1;
    stroke-dasharray: 40, 0;
}

@keyframes caret-blink {
    0%, 15%, 85%, 100% { opacity: 1; }
    35%, 65% { opacity: 0; }
}

@keyframes dash-rotate {
    0% { stroke-dashoffset: 0; }
    100% { stroke-dashoffset: -6; }
}

@keyframes deco-rotate {
    0% { stroke-dashoffset: 0; }
    100% { stroke-dashoffset: -50; }
}
